<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Website Title</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
                <a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i>Login/Register</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
            <div>
                <h2>{{fname}} {{lname}}</h2>
                <h1>Edit Profile:</h1>
                <form action="{{ url_for('profile') }}" method="post" enctype="multipart/form-data" autocomplete="off">
                    <table>
                        <div class="wrapper">
                            <img src="/static/upload_images/{{ user_image }}" alt="" border="3" />
                            <input type="file" name="pic" accept="image/*">
                        </div>
                        <tr>
                            <td>First name:</td>
                            <td>{{ fname }}</td>
                        </tr>

                        <tr>
                            <td>Last name:</td>
                            <td>{{ lname }}</td>
                        </tr>

                        <tr>
                            <td>Email:</td>
                            <td>{{ email }}</td>
                        </tr>

                        <tr>
                            <td>Phone number:</td>
                            <td><input type="text" name="phone" value="{{ phone }}"></td>
                        </tr>

                        <tr>
                            <td>Date of Birth:</td>
                            <td><input type="text" name="dob" value="{{ dob }}"></td>
                        </tr>

                        <tr>
                            <td>State:</td>
                            <td><input type="text" name="state" value="{{ state }}"></td>
                        </tr>

                        <tr>
                            <td>City:</td>
                            <td><input type="text" name="city" value="{{ city }}"></td>
                        </tr>
                    </table>
                    <div class="msg">{{ msg }}</div>
                    <label for="save">
                        <i class="fas fa-save"></i>
                    </label>
                    <input type="submit" value="Save & Update" id="save">
                </form>
            </div>
		</div>
	</body>
</html>